.container{
    max-width: 800px;
}

.row{
    border-bottom: 1px solid rgb(189, 189, 189);
    padding-top: 40px;
    padding-bottom: 40px;
}

.profile-pics{
    background-color:gray;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("pics/face2.png");
    background-size: cover;
    background-position: center;
    margin: auto;
}

h1{
    margin-top: 10px;
}

.profile-data-holder{
    width: 25%;
    float: left;
    margin-top: 40px;
}

.bio{
    width: 100%;
    float: left;
    margin-top: 40px;
}

.picture{
    width: 200px;
    height: 200px;
    background-color: gray;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
}

#image-holder{
    border-bottom: none;
}