body{
    background-color: #F0F0F0;
}

.container{
    max-width: 800px;
}

.row{
    border-bottom: 1px solid rgb(189, 189, 189);
    padding-top: 40px;
    padding-bottom: 40px;
}

.profile-pics{
    background-color:gray;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("pics/face2.png");
    background-size: cover;
    background-position: center;
    margin: auto;
}

h1{
    margin-top: 10px;
}

.profile-data-holder{
    width: 25%;
    float: left;
    margin-top: 40px;
}

.bio{
    width: 100%;
    float: left;
    margin-top: 40px;
}

.picture{
    width: 250px;
    height: 250px;
    background-color: rgb(119, 119, 119);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
}

#image-holder{
    border-bottom: none;
}

.menu-holder, .bg-light{
    background-color: white !important;
}

.menu-holder{
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-right: calc(100% - 300px);
}

.menu_icon{
    width: 50px;
    float: right;
}

.picture{
    font-size: 0px;
}

.picture:hover{

    cursor: pointer;
    font-size: 24px;
    line-height: 125px;
    text-align: center;
    color: black;

    filter: grayscale(100%);
    background-blend-mode: exclusion;

    transition: 0.2s;
}